body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: rgb(60, 83, 70);
}

h1 {
  font-family: Georgia, Times, sans-serif;
  font-size: 50px;
  color: honeydew;
  margin-top: 40px;
}

img {
  float: left;
  width: 242px;
  padding: 5px;
  background-color: darkblue;
}

section {
  background-color: rgba(5, 0, 0, 0.055);
  height: 355px;
  margin-top: 155px;
}

h2 {
  font-family: monospace;
  font-size: 25px;
  color: rgb(1, 1, 90);
  margin-left: 200px;
  padding-top: 5px;
}

#artigo {
  margin-top: 40px;
  font-family: monospace;
  font-size: 18px;
  color: rgb(1, 1, 90);
  text-indent: 3em;
  line-height: 1.7em;
}

nav {
  float: left;
  width: 8%;
  height: 20px;
  position: relative;
  margin-top: -40px;
  margin-left: 40px;
  font-family: Georgia, Times New Roman, Times, serif;
  text-align: center;
  font-weight: 600;
  background-color: rgb(211, 211, 63);
  border-radius: 15px;
  padding: 3px;
  border: solid rgb(60, 83, 70);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: (60, 83, 70);
}

.botao:hover {
  color: white;
  background: rgb(60, 83, 70);
}

aside {
  background-color: rgb(85, 103, 158);
}

#textoLateral {
  font-family: cursive;
  font-size: 16px;
  text-align: center;
  color: blanchedalmond;
  line-height: 1.7em;
}

.lado-direito {
  float: right;
  width: 8%;
  position: relative;
  margin-right: 5%;
  margin-top: 2%;
  padding: 1%;
  border-radius: 25px;
}

.lado-esquerdo {
  float: left;
  width: 50%;
  position: relative;
  margin-top: 2%;
  margin-left: 10%;
}

#titulo-ol {
  margin-left: 22.5%;
  margin-top: 0.8%;
}

ol {
  margin-left: 20%;
}

#titulo-ul {
  margin-top: -250px;
  margin-left: 44%;
}

ul {
  margin-left: 43%;
}

#rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: maroon;
}

#titulo-rodape {
  line-height: 0.2em;
  padding-left: 10px;
  margin-top: 0.7%;
  color: rgb(253, 251, 251);
  font-size: small;
}

#texto-rodape {
  line-height: 0.2em;
  padding-bottom: 15px;
  padding-left: 10px;
  color: rgb(253, 251, 251);
  font-size: small;
}

table {
  float: right;
  width: 15%;
  position: relative;
  border-collapse: collapse;
  margin-top: -95px;
  margin-right: 20%;
  background-color: rgb(211, 211, 63);
}

th , td {
  border: 2px solid maroon;
  padding: 1%;
  text-align: center;
}

caption {
  padding: 2%;
  background-color: rgb(211, 211, 63);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
