body {
  background-color: rgb(253, 251, 251);
}

header {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: green;
}

h1 {
  font-family: Georgia, Times, sans-serif;
  font-size: 50px;
  color: honeydew;
  margin-top: 40px;
}

img {
  float: left;
  width: 242px;
  padding: 5px;
  background-color: darkblue;
}

article {
  display: block;
}

section {
  background-color: rgba(5, 0, 0, 0.055);
  height: 355px;
  margin-top: 155px;
}

h2 {
  font-family: monospace;
  color: rgb(1, 1, 90);
  text-align: center;
  padding-top: 30px;
}

#artigo {
  font-family: monospace;
  font-size: large;
  color: rgb(1, 1, 90);
  text-indent: 3em;
  line-height: 1.7em;
  margin-top: 80px;
  padding-left: 450px;
  padding-right: 200px;
}

nav {
  font-family: Georgia, Times New Roman, Times, serif;
  text-align: center;
  font-weight: 600;
  margin-left: 90%;
  margin-right: 5%;
  background-color: midnightblue;
  border-radius: 25px;
  padding: 15px;
  border: none;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.botao:hover {
  color: blanchedalmond;
  background: rgb(1, 92, 1);
}
